header{
  padding: 1rem;
}
#container{
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product{
  min-width: 358px;
  height: 380px;
  border-radius: 8px;
  position: relative;
  background-color: var(--white);
  margin: 1rem 0.5rem;
}

.product p{
  padding: 0.5rem;
  text-align: center;
  font-weight: 500;
  height: 30px;
  border-radius: 4px;
  font-size: 12px;
}

.product img{
	display:block;
	width:180px;
	height:auto;
	margin: 1rem auto;
	border-radius: 8px;
}
