h2{
  text-align: center;
  margin-top: 2rem;
}

header{
  padding: 1rem;
}
nav {
  padding: 0;
  background-color: var(--white);
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
}

nav button{
  padding: 6px 10px;
  border: none;
  background-color: var(--grey);
  border-radius: 2px;
}

nav button:hover{
  background-color: var(--light-black);
  cursor: pointer;
}

nav button:hover a{
  color: white;
}

nav button a{
  text-decoration: none;
  color: black;
}


.products_container{
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.products_container .product{
  min-width: 398px;
  height: 419px;
  border-radius: 8px;
  position: relative;
  background-color: var(--white);
  margin: 1rem 0.5rem;
}

.product p{
  padding: 0.5rem;
  text-align: center;
  font-weight: 500;
  height: 30px;
  border-radius: 4px;
  font-size: 12px;
}

.product img{
	display:block;
	width:180px;
	height:auto;
	margin: 1rem auto;
	border-radius: 8px;
}

.product button{
	background-color: var(--orange);
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin-top: 5px;
	border-radius: 8px;
	cursor: pointer;
	font-weight: bold;
	margin: 1rem auto;
}

#logout-btn{
  background-color: var(--light-black);
  color: white;
}

#logout-btn:hover{
  background-color: var(--grey);
  color: black;
}

#admin-link{
  display: block;
  color: var(--orange);
  margin-top: 1rem;
}