header{
	padding: 1rem;
}
nav {
  padding: 0;
  background-color: var(--white);
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
}

nav button{
  padding: 6px 10px;
  border: none;
  background-color: var(--grey);
  border-radius: 2px;
}

nav button:hover{
  background-color: var(--light-black);
}

nav button:hover a{
  color: white;
}

nav button a{
  text-decoration: none;
  color: black;
}


#logout-btn{
  background-color: var(--light-black);
  color: white;
}

#logout-btn:hover{
  background-color: var(--grey);
  color: black;
  cursor: pointer;
}

main{
	margin: 1rem;
}
main iframe{
	display: block;
	margin: 0 auto;
	width:70%;
}