h2{
	text-align: center;
	margin-bottom: 2.5rem;
}
.index_form{
  width:40%;
  text-align: center;
  margin:0 auto;
  min-width:300px;
  padding-bottom:2rem;
}
.index_form input{
  width:60%;
  text-align: center;
  display: block;
  margin:0.5rem auto;
  min-width:250px;
	padding:5px;
}

.index_form button{
  border:1px solid var(--orange);
  background-color:var(--orange);
  color:var(--white);
  width:60%;
  height:2rem;
  min-width:250px;
  font-weight:500;
  border-radius:4px;
  font-size:1rem;
}

.index_form button:hover{
  background-color:#fafafa;
  border:1.5px solid var(--orange);
  color:var(--orange);
  cursor:pointer;
}

#login-view, #register-view{
	margin-top:1rem;
}

.register-message{
	text-align: center;
}